html{
	font-size: 62.5%;
}
body{
	font-family: $primaryFont, $secondaryFont;
}
p{
	font-size: 16px;
	color: $thirdColor;
	line-height: 23px;
	letter-spacing: 1px;
}
h1{
	font-size: 69px;
	color: $primaryColor;
}
h2{
	font-size: 40px;
	text-transform: uppercase;
}

	/* Portrait tablet and small desktops */
	@media (max-width: 801px) {
	    h1{
	        font-size: 50px;
	        transition: .3s ease-in-out;
	        padding: 0 20px;
	    }
	        h2{
	        	font-size: 25px;
	        	transition: .3s ease-in-out;
	        }
	}
	/* Landscape phones and down */
	@media (max-width: 649px) {
		h1{
			font-size: 30px;
			transition: .3s ease-in-out;
			padding: 0 20px;
		}
		h2{
			font-size: 20px;
			transition: .3s ease-in-out;
		}
	}


h3{
	font-size: 26px;
}
h4{
	font-size: 24px;
	text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}
ul, li{
	padding: 0;
	margin: 0;
	list-style: none;
	text-transform: uppercase;
}

img{
	width: 100%;
	display: block;
}
.global-wrapper{
	width: 1600px;
}
.inner-wrapper{
	width: 91vw;
	margin: 0 auto;
}

    /* Landscape phone to portrait tablet */
    @media (max-width: 768px) {
    .inner-wrapper {
	    width: 88vw;
	    margin: 0 auto;
	}
}

  
.about-me-wrapper {
	width: 91vw;
	margin: 0 auto;
}
.sectionHeading{
	margin: 121px 0;
}

a{
	text-decoration: none;
}

