section.aboutMeBlurb{
	display: flex;
}
.blurbContainer{
	display: flex;
	margin-bottom: 121px;
	.profileImgItem{
		width: 470px;
		height: auto;
		margin-right: 30px;
		img{
			box-shadow: 0 3px 7px darkgrey;
		}
	}
}
.blurbItemTwo{
	width: 599px;
	margin-right: 200px;
	h2, h4 {
		letter-spacing: 2px;
	}
}
button{
	width: 200px;
	height: 47px;
	margin-top: 20px;
	background: $primaryColor;
	text-transform: uppercase;
	font-size: 14px;
	border: none;
	box-shadow: 1px 1px 7px darkgrey;
	&:hover{ background: black;
			color: white;
			transition: .3s;
			box-shadow: 2px 2px 4px darkgrey;
			border-radius: 5px;
		}
	}


	/* Portrait tablet and small desktops */
	@media (max-width: 940px) {
		.blurbItemTwo{
			margin-right: 0;
		}
	}

	/* Landscape phone to portrait tablet */
	@media (max-width: 768px) {
		.blurbContainer{
			flex-direction: column;
			.profileImgItem{
				width: 285px;
				padding-bottom: 30px;
				margin: 0 auto;
			}
		}
	}
		.blurbItemTwo{
			flex-wrap: wrap;
			width: 80%;
		}

	/* Landscape phones and down */
	@media (max-width: 480px) {
		.bioButton button{
			text-align: center;
	}
}
