section.contact{
	display: flex;
	font-size: 16px;
	h2{
		color: $primaryColor;
	}
}
.contact a{
	color: $secondaryColor;
	&:hover{
		color: $thirdColor;
		transition:  .3s ease-in-out;
	}
}

.contactIconWrapper{
	display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    .contactItems{
    	display: flex;
    	align-items: center;
    	flex-direction: column;
    	.fa{
    		font-size: 50px;
    		color: $primaryColor;
    	}
    }
}

.contactItems p{
	font-size: 16px;
	text-transform: none;
}

.contactItems hr.miniYellowLine{
	background: $primaryColor;
	color: $primaryColor;
	width: 85px;
	height: 1px;
	border: none;
	display: inline-block;
	margin: 24px 0 20px;
}

form{
	display: flex;
	padding: 0 10px;
	.inputBox, .inputBoxTwo{
		width: 50%;
	}
}
.contactFormItem{
	display: flex;
	flex-direction: column;
	width: 93%;
	padding-bottom: 12px;
	label{
		padding-bottom: 10px;
		text-transform: uppercase;
	}
}
input{
	border: 1px solid $thirdColor;
	padding: 5px;
	box-shadow: 0 2px 7px darkgrey;
}

textarea{
	height: 204px;
	border: 1px solid $thirdColor;
	box-shadow: 0 2px 7px darkgrey;
}
.sendEmailButton{
	margin: 47px 0 123px 0;
	text-align: center;
}

	/* Portrait tablet and small desktops */
	@media (max-width: 940px) {
	}

	/* Landscape phone to portrait tablet */
	@media (max-width: 768px) {
		form{
			flex-direction: column;
		}
		form .inputBox,form .inputBoxTwo{
			width: 100%;
		}
		.contactFormItem{
			margin: 0 auto;
		}
		.inputBoxTwo{
			margin-top: 20px;
		}
		.contactIconWrapper .contactItems .fa{
			font-size: 36px;
			transition: .3s ease-in-out;
		}
	}

	/* Landscape phones and down */
	@media (max-width: 650px) {
		.contactIconWrapper{
			flex-direction: column;
		}
	}








