footer{
	height: 360px;
	background: $thirdColor;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	h3, p, {
		color: $secondaryColor;
		transition: .3s;
	}
}
footer a{
	color: $thirdColor;
}
footer h3:hover{
	color: $primaryColor;
	transition: .3s;
}
.socialLinksContainer{
	ul{
	font-size: 24px;
	display: flex;
	align-items: center;
	.devicon-github-plain, .fa{
		background: $primaryColor;
		border-radius: 50%;
		padding: 10px;
		color: $thirdColor;
		transition: .3s;
		&:hover{
			color: $secondaryColor;
			transition: .3s;
		}
		}
	}
}

ul li{
	padding: 0 5px;
}