header{
	height: 695px;
	background: linear-gradient( rgba(0, 0, 0, 0.55), 
	rgba(0, 0, 0, 0.45)),  url("/public/assets/rsz_against-wall-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-position-x: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	box-shadow: 0 3px 7px darkgrey;
	h1{
		letter-spacing: 4px;
	}
}
header h2{
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 35px;
}
menu{
	text-transform: uppercase;
	color: $thirdColor;
	
}
.headerBox{
	position: relative;
	top: 380px;
}
.hamburger{
	display: none;
}
.overlay.menuBox{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.89);
}
.overlay ul {
	flex-direction: column;
}
.overlay ul a {
	font-size: 50px;
	text-align: center;
	width: 100%;
	padding: 30px;
}
.overlay .hamburger {
	display: block;
	font-size: 50px;
	text-align: center;

}

/* Media Query */

	/* Portrait tablet and small desktops */
	@media (max-width: 801px) {
		header{
			height: 500px;
			transition: .3s ease-in-out;
			h2{
				font-size: 26px;
			}
		}
		.headerBox{
			top: 250px;
		}
	}

	/* Landscape phone to portrait tablet */
	@media (max-width: 649px) {
		header{
			height: 300px;
			transition: .3s ease-in-out;
			h2{
				font-size: 17px;
				font-weight: 600;
			}
		}
		.headerBox{
			top: 150px;
		}
	}

	/*media Q */
	@media all and (max-width: 500px) {
	.hamburger {
		display: block;
		font-size: 25px;
		cursor: pointer;
		transition: 0.3s ease-in-out;
		color: $primaryColor;
	}
	.hamburger:hover{
		color: darkgrey;
		transition: 0.3s ease-in-out;
	}
	.menuBox li {
		padding: 35px 0;
		color: white;
	}
	.menuBox ul.menu li{
		text-shadow: none;
	}
	.menuBox .menu{
		display: none;
	}
	.menuBox ul.show {
		display: flex;
	}
	.inner-wrapper p{
		display: flex;
		justify-content: flex-end;
	}
	// .inner-wrapper ul.menu{
	// 	display: none;
	// }
}


