section.map{
	.backgroundMapImage{
	background: url("/dev/assets/snazzy-image.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 1600px;
	height:  400px;
	transition: .5s;
	&:hover{
		background: linear-gradient( rgba(0, 0, 0, 0.55), 
	    rgba(0, 0, 0, 0.45)),  url("/dev/assets/streetcar.jpg");
	    background-repeat: no-repeat;
	    background-size: cover;
	    transition: .5s;
	    opacity: .9;
		}
	}
}