section.map{
	.backgroundMapImage{
	background: url("/dev/assets/snazzy-image.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 1600px;
	height:  400px;
	transition: .5s;
	&:hover{
		background: linear-gradient( rgba(0, 0, 0, 0.55), 
	    rgba(0, 0, 0, 0.45)),  url("/dev/assets/streetcar.jpg");
	    background-repeat: no-repeat;
	    background-size: cover;
	    transition: .5s;
	    opacity: .9;
		}
	}
}

	/* Portrait tablet and small desktops */
	@media (max-width: 940px) {
	}

	/* Landscape phone to portrait tablet */
	@media (max-width: 768px) {
		section.map .backgroundMapImage{
	    height: 300px;
	    transition: .3s ease-in-out;
		}
	}

	/* Landscape phones and down */
	@media (max-width: 480px) {
		section.map .backgroundMapImage{
			height: 150px;
			transition: .3s ease-in-out;
		}
		section.map .sendEmailButton{
			margin: 47px 0 70px 0;
		}
	}
