ul.menu{
	font-size: 16px;
	color: $thirdColor;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 104px;
	margin-top: 31px;
	li{
		padding-right: 30px;
		transition: .3s;
		&:hover{
			color: $primaryColor;
			cursor: pointer;
			transition: .3s;
		}
	}
}
ul.menu li:last-child{
	padding-right: 0;
}

