section.portfolioGallery{
	display: flex;
	h4{
		color: $primaryColor;
	}
}

.portfolioContainer{
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
	.portImageOne, .portImageTwo, .portImageThree, .portImageFour {
		background-repeat: no-repeat;
		width: 60%;
		background-size: cover;
		img{
			box-shadow: 2px 4px 7px darkgrey
		}
	}
}

.portInfoOne, .portInfoTwo, .portInfoThree, .portInfoFour{
	padding: 0 10px;
}

.proj1Box, .proj2Box, .proj3Box, .proj4Box{
	display: flex;
	margin-bottom: 30px;
	h2{
		font-size: 25px;
	}
}

.portBox{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
	padding-bottom: 30px;
	margin: 0 15px;
	p{
		padding-top: 20px;
		text-align: left;
	}
}

.buttonWrapper{
	display: flex;
	flex-direction: column;
}

.techUsed{
	display:flex;
	padding-top: 30px;
	flex-wrap: wrap;
	justify-content: flex-start;
	p{
		border: 2px solid $thirdColor;
		padding: 3px 11px;
		margin: 10px 14px 0 0;
		&:hover{
			background: $primaryColor;
			transition: .2s ease-in-out;
			border: 2px solid white;
		}
	}
}

	/* Portrait tablet and small desktops */

	@media (max-width: 940px){
		.proj1Box, .proj2Box, .proj3Box, .proj4Box{
			flex-direction: column;
			width: 100%;
			align-items: center;
			padding-top: 20px;
			h2{
				font-size: 23px;
			}
		}
		.portImageOne.portBox, .portImageTwo.portBox, .portImageThree.portBox, .portImageFour.portBox{
			width: 100%;
			box-shadow: none;
			align-items: center;
		}
		.portInfoOne.portBox, .portInfoTwo.portBox, .portInfoThree.portBox, .portInfoFour.portBox{
			width: 70%;
			padding-top: 40px;
		}
		.order3{
			order: 1;
		}
		.order7{
			order:2;
		}
}
	
	/* Landscape phone to portrait tablet */
	@media (max-width: 554px) {
		.proj1Box, .proj2Box, .proj3Box, .proj4Box{
			h2{
				font-size: 14px;
			}
		}
	}

	/* Landscape phones and down */
	@media (max-width: 480px) {
			.portInfoOne.portBox, .portInfoTwo.portBox, .portInfoThree.portBox, .portInfoFour.portBox{
				width: 100%;
			}
	}


